@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto_regular/Roboto-Regular-webfont.eot');
    src: url('fonts/roboto_regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto_regular/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/roboto_regular/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/roboto_regular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Robotothin';
    src: url('fonts/roboto_thin/Roboto-Thin-webfont.eot');
    src: url('fonts/roboto_thin/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto_thin/Roboto-Thin-webfont.woff') format('woff'),
         url('fonts/roboto_thin/Roboto-Thin-webfont.ttf') format('truetype'),
         url('fonts/roboto_thin/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Eras';
    src: url('fonts/eras/eras_light_itc.eot');
    src: url('fonts/eras/eras_light_itc.eot?#iefix') format('embedded-opentype'),
         url('fonts/eras/eras_light_itc.woff') format('woff'),
         url('fonts/eras/eras_light_itc.ttf') format('truetype'),
         url('fonts/eras/eras_light_itc.svg#Eras') format('svg');
    font-weight: normal;
    font-style: normal;
}
.clear{
	clear:both;
	height:0;
	line-height:0;
}
.left{float:left}
.right{float:right}
.red{color:#ff0000}
ul{list-style:none;margin:0;padding:0}
img{border:none;}
a{text-decoration:none;color:#ffffff;}
body{
	padding:0;
	margin:0;
	background:#000000;
	font-family:"Roboto";
	color:#ffffff;
}
	.main_wrapper{
		width:100%;
		max-width:1060px;
		height:100%;
		top:0;
		margin:0 auto;
		position:relative;
	}
		img.bg {
		  /* Set rules to fill background */
		  min-height: 100%;
		  max-width: 1060px;
			
		  /* Set up proportionate scaling */
		 /* width: 100%;
		  height: auto;*/
		  width:auto;
		  height:100%;
			
		  /* Set up positioning */
		  position: fixed;
		  top: 0;
		  /*left: 0;*/
		}

	/*	@media screen and (max-width: 100%) { /*1060px Specific to this particular image 
		  img.bg {
			left: 50%;
			margin-left: -530px;   /* 50% 
		  }
		}*/
		.content_wrapper{
			width:90%;
			height:87.5%;
			margin:0 auto;
			padding:3% 5%;
			top:0;
			left:0;
			position:relative;
			z-index:3;
			text-align:left;
			/*border:1px solid red;*/
		}
			.lateral_column{
				width:20%;
				height:100%;
				/*min-height:450px;*/
				float:left;
			}
				.logo{
					width:100%;
					text-align:center;
				}
					.logo a{
						font-size:75px;
						color:white;
						font-family:Eras;
						font-weight:100;
					}
				.lateral_menu{
					width:100%;
					margin:20% auto;
				}
					.lateral_menu ul li{
						width:94%;
						min-height:30px;
						text-align:right;
						margin:1% 0;
						padding:0 3%;
						/*background:transparent;*/
					}
					
						.lateral_menu ul li.selected {
							background:url(../images/selected_menu_backgr.png) no-repeat top right;
						}
						.lateral_menu ul li:hover{
							background:url(../images/selected_menu_backgr.png) no-repeat top right;
						}
						
					.lateral_menu ul li a{
						color:#ffffff;
						text-decoration:none;
						font-size:22px;
					}
					
						/*secondary menu*/
							.lateral_menu ul li ul{
								display:none;
								position:relative;
								margin-bottom:10%;
							}
								.lateral_menu ul li ul li{
									min-height:16px;
								}
									.lateral_menu ul li ul li:hover{background :none;}
									.lateral_menu ul li ul li.selected{background :none;}
									.lateral_menu ul li ul li:hover a{color:#cccccc;}
									
									.lateral_menu ul li ul li.selected a{
										color:#cccccc;
									}
									.lateral_menu ul li ul li a{
										font-size:12px;
									}
						/*end secondary menu*/
						
				.bottom_link{
					bottom:5%;
					position:absolute;
				}
					.bottom_link.text_right{
						text-align:right;
						font-size:16px;
					}
					.bottom_link a{
						color:#ffffff;
						text-decoration:none;
					}
					.bottom_link a{margin-left:5%;}
					.bottom_link a img{
						width:18%;
						filter:alpha(opacity=75);
						-moz-opacity:0.75;
						-khtml-opacity: 0.75;
						opacity: 0.75;
					}
						.bottom_link a:first-of-type{margin-left:0}
						.bottom_link a img:hover{
							filter:alpha(opacity=100);
							-moz-opacity:1;
							-khtml-opacity:1;
							opacity: 1;
						}
				.lateral_column .search_form{
					width:90%;
					margin: 0 5%;
				}
				.lateral_column  input.main_search{
					width:100%;
					margin: 0;
					padding:5px;
					background: #979696;
					font-size:12px;
					border:1px solid #ffffff;
					color:#ffffff;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					-khtml-border-radius: 5px;
					border-radius: 5px;
					-moz-box-shadow:    inset 2px 2px 3px #333333;
				   -webkit-box-shadow: inset 2px 2px 3px #333333;
				   box-shadow:         inset 2px 2px 3px #333333;
				   float:left;
				   /*behavior: url(pie/PIE.htc);*/
				}
					.lateral_column .search_form label{color:#ffffff;font-size:12px;}
					.lateral_column input::-webkit-input-placeholder { /* WebKit browsers */
						font-size:12px;
						color:    #ffffff;
						font-style:italic;
					}
					.lateral_column input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
						font-size:12px;
						color:    #ffffff;
						font-style:italic;
					}
					.lateral_column input::-moz-placeholder { /* Mozilla Firefox 19+ */
						font-size:12px;
						color:    #ffffff;
						font-style:italic;
					}
					.lateral_column input:-ms-input-placeholder { /* Internet Explorer 10+ */
						font-size:12px;
						color:    #ffffff;
						font-style:italic;
					}
				.lateral_column img.search_arrow{
					float:left;
					position:absolute;
					left:91.5%;
					margin-top:1px;
				}
/***********right column*****************************/
			.lateral_column	.left_content{
				text-align:center;
			}
				.lateral_column	.left_content h1{
					color:#ffffff;
					font-weight:100;
					font-family:"robotothin";
					font-size:26px;
				}
				
		/******************last models accordion***************/
					.lateral_column	.left_content ul li{
						margin:0;
						padding:0;
						text-align:left;
					}
					.lateral_column	.left_content ul li .accordion_link{
						width:98%;
						padding:0 0 10px 2%;
						background: url(../images/slider_offer_lineDOWN.png) no-repeat right bottom;
					}	
					.lateral_column	.left_content ul li .accordion_link a{
						color:#ffffff;
						text-decoration:none;
					}
						.left_content ul li .accordion_ithem{
							width:90%;
							/*height:auto;*/
							/*min-height:25%;*/
							padding:5%;
							margin:-6px 0 10px;	
							background:url(../images/semitransparent_backgr.png);
							/*border:1px solid #333333;*/
							display:none;
							color:#ffffff;
							/*text-align:right;*/
						}		
							/*.left_content ul li .accordion_ithem.scrollable_descr{
								height:50%;
							}*/
						.accordion_ithem  span{
							font-size:12px;
							font-family:robotothin;
						}
							.accordion_ithem   div.descr{
								text-align:justify;
								font-size:12px;
								font-family:robotothin;
							}
							.accordion_ithem  .short_text{
								width:50%;
								margin-bottom:10px;
								float:left;
								text-align:justify;
								line-height:70%;
							}
								.accordion_ithem  .short_text span{
									color:#ffffff;
									font-size:11px;
								}			
							.accordion_ithem img{
								width:40%;
								height:auto;
								float:right;
							}
							a.last_model_link{
								color:#ffffff;
								font-size:14px;
							}
		/************************End last models accordion**********************/
			/*products accordion*/
						.accordion_ithem.left{text-align:left;}
							/*
							if type of products is added to filters uncomment following lines
							
							.accordion_ithem label{
								font-size:12px;
								color:#ffffff;
							}
							.accordion_ithem input[type=radio]{height:10px;}
							.accordion_ithem input[type=text]{height:16px;}
							*/
							.accordion_ithem label{
								font-size:14px;
								color:#ffffff;
							}
							.accordion_ithem input[type=text]{height:22px;width:75%;color:#ffffff;}
						/*end products accordion*/
		
		
/****************end right column************************/
			
			.loading{
					width:100%;
					height:100%;
					position:absolute;
					top:0;
					left:0;
					z-index:9999;
					display:none;
					background : url(../images/loading.gif) no-repeat center center;
					background-size: 25%;
					filter: alpha(opacity=50);
					opacity: 0.5;
				}
/*******************content column home page************************/
			
			.content_column{
				width:50%;
				height:90%;
				padding:3% 5%;
				float:left;
				/*overflow-y:auto;
				overflow-x:hidden;*/
			}			
				.content_column a.back_link{
					padding-left:3%;
					color:#ffffff;
					font-family:robotothin;
					font-size:12px;
				}
					a.back_link:hover{text-decoration:underline}
				.content_column h1{
					font-size:45px;
					color:white;
					font-family:robotothin;
					font-weight:100;
					text-align:right;
					text-shadow: 2px 2px 1px #000000;
				}
				.content_column h2{
					margin:-2% 0 0 0;
					padding:0;
					color:#ffffff;
					font-size:22px;
					font-family:robotothin;
					font-weight:100;
					text-align:right;
				}
					.content_column h1.cir{
						font-family:robotothin;
						font-weight:100;
						/*font-style:italic;*/
					}
				.content_column p{
					color:#ffffff;
					text-align:justify;
					font-family:robotothin;
				}
	
	/************************content column products page*************************/
		.content_column.wider{padding:3% 2%;width:56%;height:95%;}
			.content_column.wider h1{margin:0 auto 2%;font-size:36px}
			.content_column.wider p.result_num{
				padding:0 5% 0 0;
				text-align:right;
				font-family:robotothin;
				font-size:14px;
			}
			.content_column .product_containter{
				width:26.5%;
				height:35%;
				position:relative;
				float:left;
				/*border:1px solid #979696;*/
				padding:2%;
				margin:1.20%;
				COLOR:#FFFFFF;
				font-size:14px;
				background: url("../images/semitransparent_backgr.png") repeat;
			}
				.content_column .product_containter .image_containter{
					width:100%;
					max-height:77%;
					margin:1% auto;
					position:relative;
					overflow:hidden;
					text-align:center;
				}
					.content_column .product_containter .image_containter img{
						max-width:100%;
						height:auto;
						position:relative;
						border:none;
					}
					
				.product_containter a span{
					color:#ffffff;
					font-family: robotothin;
				}
				
				
		/*******************content column  product preview page**************/
		.content_column .images_holder{
			width:auto;
			height:80%;
			margin:2% auto 0 auto;
			padding:1.5% 1%;
			position:relative;
			text-align:center;
		}
			.content_column .images_holder img.big_img{
				width:auto;
				height:75%;
				top:0;
				margin:0 auto;
				position:relative;
			}
			
			
			/******************content column shops page************************/
		h3{font-size:14px;font-family:robotothin;font-weight:100;text-align:justify}
		h3 a{color:#ffffff;text-decoration:underline;font-family:roboto}
		h3 a:hover{color:#cccccc}
		a.shops_prev{color:#ffffff;}
		a.shops_prev:visited{color:#ffffff;}
		.shop_row{
			width:96%;
			position:relative;
			padding:2%;
			border-bottom:1px solid #979696;
			font-family:robotothin;
		}
			.shop_row:hover{
				color:#cccccc;
				background:url(../images/transp_white_backgr.png);
				font-family:Roboto;
			}
			
			
			
			/******************content column shop preview page****************/
				#map_canvas{
					width:auto;
					height:75%;
					top:5%;
					margin:0 auto;
					position:relative;
				}
			
			
			/******************content column careers page************************/
			.scrollable.carr{margin:30px auto 0;}
			.career_row{
				margin:3%;
			}
				span.carr_name:hover{cursor:pointer;text-decoration:underline}			
				p.career_description{display:none}
				
				
			/*************** content contacts page***************************/
			.content_column .warning{
				font-size:12px;
				display:none;
				color:red;
			}
			
			textarea.contact,input.contact{
				width:100%;
				height:18%;
				margin: 0 auto 4%;
				padding:5px;
				position:relative;
				background: #979696;
				font-size:12px;
				border:1px solid #ffffff;
				color:#ffffff;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				-khtml-border-radius: 5px;
				border-radius: 5px;
				-moz-box-shadow:inset 2px 2px 3px #333333;
			   -webkit-box-shadow:inset 2px 2px 3px #333333;
			   box-shadow:inset 2px 2px 3px #333333;
			}
			input.contact{width:50%;height:auto;margin: 0 auto 3%;}
			
			a.form_btn{
				padding:1% 3%;
				border:1px solid #ffffff;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				-khtml-border-radius: 5px;
				border-radius: 5px;
				background:#979696;
				font-family:robotothin;
			}
				a.form_btn#submit_btn:hover{background:#cccccc;color:#006400;border:1px solid #006400}
				a.form_btn#clear_btn:hover{background:#cccccc;color:#640000;border:1px solid #640000}
			.pot{display:none}/*honey pot*/
			span.tip{font-size:12px;color:#640000;}
			span.succ_msg{text-shadow: 2px 2px 1px #000000;}