@font-face {
    font-family: 'Eras';
    src: url('eras/eras_light_itc.eot');
    src: url('eras/eras_light_itc.eot?#iefix') format('embedded-opentype'),
         url('eras/eras_light_itc.woff') format('woff'),
         url('eras/eras_light_itc.ttf') format('truetype'),
         url('eras/eras_light_itc.svg#Eras') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	padding:0;
	margin:0;
	font-family:verdana;
}
ul{list-style:none;margin:0;padding:0}
img{border:none;}
a{text-decoration:none}
.green{color:green}
.red{color:red}
.marked{border:2px solid #ff0000;}
.left{float:left}
.right{float:right}

.clear{
	clear:both;
	height:0;
	line-height:0;
}

.main_wrapper{
	width:100%;
	height:100%;
	position:absolute;
}
	.content_wrapper{
		width:80%;
		margin:10px auto;
		position:relative;
		background:#f1f1f1;
		/*-moz-box-shadow: 3px 3px 4px #444;
		-webkit-box-shadow: 3px 3px 4px #444;
		box-shadow: 3px 3px 4px #444;
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');*/
		box-shadow: 0px 5px 20px 3px #888;
		-moz-box-shadow: 0px 5px 20px 3px #888;
		-webkit-box-shadow: 0px 5px 20px 3px #888;
	}
	
	/****************************HEADER*******************************/
		header{
			width:90%;
			/*height:16%;*/
			padding:1% 5% 0;
			margin:0 auto;
			position:relative;
			color:#ffffff;
			border-bottom:1px solid #ffffff;
			background:rgb(0,0,0);
			background:rgba(0,0,0,.50);
			*background:transparent;
			*filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#BF000000,endColorStr=#BF000000);
			*-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000)";
		}
			header span.name{font-family:eras;font-size:40px;color:#ffffff;}
			header span.subname{font-size:14px;color:#ffffff;}
			
			header .menu{
				width:30%;
				margin:1px auto;
				text-align:center;
			}
				header .menu ul{}
					header .menu ul li{
						float:left;
						margin-left:10px;
					}
						header .menu ul li:first-child{
							margin-left:0;
						}
						header .menu ul li a{
							padding:3px 10px;
							border:1px solid #f1f1f1;
							color:#ffffff;
							-moz-border-radius: 5px;
							-webkit-border-radius: 5px;
							-khtml-border-radius: 5px;
							border-radius: 5px;
						}
							header .menu ul li a:hover,header .menu ul li a.selected{
								background:#f1f1f1;
								color:#6a6a6a;
							}
		
		/**********************************BODY WRAPPER**********************/
		.body_content{
			width:94%;
			min-height:65%;
			padding:3% 3%;
			top:21%;
			position:relative;
		}
			.add_button{
				width:28%;
				height:5%;
				margin:1% auto;
				position:relative;
				text-align:center;
			}
				.add_button a{
					padding:5px 10px;
					border:1px solid #e1e1e1;
					color:#5fa32a;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					-khtml-border-radius: 5px;
					border-radius: 5px;
				}
					.add_button a:hover{background:#e1e1e1;border:1px solid #a1a1a1}
					.add_button a img{width:14px;height:auto;}
			table.list_table{
				width:100%;
				/*border:1px solid #6a6a6a;*/
				font-size:12px;
			}
				table.list_table tr.headers th{
					background : #bbbbbb;
					font-size:12px;
					border:none;
					font-weight:normal;
				}
				table.list_table tr.even{background:#e1e1e1}
				table.list_table tr.odd{background:#ffffff}
				table.list_table tr.marked{background:#ff0000}
					table.list_table tr th,table.list_table tr td{padding:3px 5px;text-align:center;}
					table.list_table tr th{padding:5px 8px}
					
		/*pagination*/			
		.pagination{margin:10px auto;text-align:center;bottom:5%;position:absolute;}
			.pagination ul li{
				display:inline;
			}
				.pagination ul li{
					margin:0 5px;
				}
					.pagination ul li:first-child{margin:0 5px 0 0}
					.pagination ul li:last-child{margin:0 0 0 5px}
					.pagination ul li.selected{background:#bbbbbb;}
					.pagination ul li:hover{background:#bbbbbb;}
					.pagination ul li a{
						padding:0 5px;
						border:1px solid #bbbbbb;
						font-size:13px;
						-moz-border-radius: 5px;
						-webkit-border-radius: 5px;
						-khtml-border-radius: 5px;
						border-radius: 5px;
					}
		/*end pagination*/
		
		
		/******add/edit form************/
				.body_content .title{
					width:60%;
					margin:2% auto;
					text-align:center;
					font-weight:bold;
				}
					span.warning{font-size:10px;color:#ff0000;}
					.body_content form .input_fields{
						width:40%;
						float:left;
					}
						.body_content form .input_field{
							padding: 10px;
							/*border-bottom:1px solid #6a6a6a;*/
						}
						
							
							.body_content form .input_field.submit{margin:5% 0;text-align:center;}
								.body_content form .input_field.submit a.submit_btn{
									padding:10px 20px;
									font-size:16px;
									color:#6a6a6a;
									border:1px solid #c1c1c1;
									background:#d1d1d1;
									cursor:pointer;
									-moz-border-radius: 5px;
									-webkit-border-radius: 5px;
									-khtml-border-radius: 5px;
									border-radius: 5px;
								}
									.body_content form .input_field.submit a.submit_btn:hover{background:#e1e1e1;}
								
								
						input,select,textarea{
							padding:3px 5px;
							-moz-border-radius: 5px;
							-webkit-border-radius: 5px;
							-khtml-border-radius: 5px;
							border-radius: 5px;
						}
						textarea{
							width:90%;
							height:15%;
						}
						
						
					.body_content form .images_fields{
						width:60%;
						float:left;
					}
						.body_content form .images_fields .image{
							width:19%;
							margin:2% 2.5%;
							float:left;
						}
							.body_content form .images_fields .image img{
								width:100%;
								height:auto;
							}
								.image span.id_num{font-size:12px;}
								.body_content form .images_fields .image span.del_img{
									color:#ff0000;
									font-size:12px;
									cursor:pointer
								}
									
								.body_content form .images_fields  span.add_files{width:30%;font-size:12px;color:#0000ff;cursor:pointer;}
								.body_content form .images_fields  span.add_files img{height:14px;}
									.body_content form .images_fields  fieldset .input_file{
										width:45%;
										margin:1%;
										float:left;
										border:1px solid #c1c1c1;
									}
									.body_content form .images_fields  fieldset .input_file img{height:100px;padding:10px 0}
									
					
					
		/********end add/edit form**********/
		
		/***************loading***********/
		.loading{
			width:100%;
			height:100%;
			top:0;
			left:0;
			position:fixed;
			margin:0 auto;
			display:none;
			background:#ffffff url(../images/loading.gif) no-repeat center center;
			-webkit-background-size:auto 50%;
			  -moz-background-size: auto 50%;
			  -o-background-size: auto 50%;
			  background-size: auto 50%;
			z-index:9999;
			filter:alpha(opacity=60);
			-moz-opacity:0.60;
			-khtml-opacity: 0.60;
			opacity: 0.60;
		}
		
		/***dialogue***/
		.dialogue{
			width:30%;
			min-height:15%;
			display:none;
			top:30%;
			left:33%;
			padding:2%;
			position :fixed; 
			z-index:10;
			background:#e1e1e1;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			-khtml-border-radius: 5px;
			border-radius: 5px;
			box-shadow: 0px 5px 20px 3px #888;
			-moz-box-shadow: 0px 5px 20px 3px #888;
			-webkit-box-shadow: 0px 5px 20px 3px #888;
		}
			.dialogue_close{
				width:30px;
				height:30px;
				position:absolute;
				background:url(../images/close.png) no-repeat;
				top:-13px;
				right:-13px;
				cursor:pointer;
			}
				.dialogue_text{
					color:#ff0000;
					font-size:14px;
					font-weight:bold;
					text-align:center;
				}
				.dialogue_buttons{
					width:25%;
					padding:1% 2.5%;
					position:absolute;
					bottom:15%;
					cursor:pointer;
					text-align:center;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					-khtml-border-radius: 5px;
					border-radius: 5px;
				}
					.dialogue_buttons.confirm{
						left:10%;
						border:1px solid red;
						border-style:outset;
					}
						.dialogue_buttons.confirm:hover{background:#ff0000;color:#ffffff}
					.dialogue_buttons.cancel{
						right:10%;
						border:1px solid green;
						border-style:outset;
					}
						.dialogue_buttons.cancel:hover{background:green;color:#ffffff}
		/*end delete dialogue*/
		/*************************END BODY WRAPPER***************************/
		
		
		/***********************FOOTER******************************/
		
		footer{
			width:100%;
			height:4%;
			margin:0 auto;
			padding:1% 0;
			border-top:1px solid #9a9a9a;
			bottom:0;
			position:relative;
			text-align:center;
		}
			footer div{
				color:#6a6a6a;
				font-family:eras;
			}